@use "../../var" as var;

.location {
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
  color: white;
  background-color: #970020;

  &__container {
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__header {
    display: flex;
    justify-content: center;
  }

  &__header-container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 10px;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
  }

  &__subtitle {
    font-family: "Hello";
    font-size: 34px;
    line-height: 0;
    text-align: center;
  }

  &__container {
    position: relative;
  }

  &__where {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;

    &-place {
      display: flex;
      flex-direction: column;
      font-family: "Hello";
      font-size: 32px;
      gap: 5px;

      img {
        width: 34px;
        transform: scale(-1, 1);
      }
    }

    &-address {
      display: flex;
      flex-direction: column;
      font-weight: 300;
      font-size: 12px;
    }
  }
}

.crossed {
  text-align: center;
  font-size: 8px;
  font-weight: 100;
  text-decoration: line-through;
}

.route {
  position: absolute;
  bottom: 10%;
  left: 10%;
  display: flex;
  align-items: center;
  color: white;
  font-family: "Hello";
  font-size: 30px;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
  transition: color, 0.3s ease-in-out;

  &:hover {
    color: black;
  }
}

.envelope {
  position: relative;
}

.details {
  display: flex;
  justify-content: flex-end;

  margin-bottom: 50px;
  &__img {
    max-width: 70%;
  }
}

.atmosphere {
  max-width: 70%;
  margin-bottom: 20px;
}

.slider__slide-img {
  height: 40vh;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

@media (min-width: var.$laptop) {
  .location {
    &__title {
      font-size: 20px;
    }

    &__header-container {
      max-width: 80%;
    }

    &__subtitle {
      font-size: 50px;
    }
  }

  .route {
    font-size: 100px;
  }

  .atmosphere {
    max-width: 50%;
  }

  .crossed {
    font-size: 17px;
  }
}

@media (min-width: var.$wide) {
  .envelope {
    display: flex;
    justify-content: center;

    & img {
      max-width: 60%;
    }
  }

  .atmosphere {
    max-width: 40%;
  }

  .slider__slide-img {
    height: 60vh;
  }
}
